<section>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <h2>Login</h2>
      <fieldset>
        <label>Username: <input id="username" type="text" formControlName="username" placeholder="Enter username" required /></label>
        @if (username?.invalid && username?.touched) { <div class="error">Username is required</div> }
        <br>
        <label>Password: <input id="password" type="password" formControlName="password" placeholder="Enter password" type="password" required /></label>
        @if (password?.invalid && password?.touched) { <div class="error">Password is required</div> }
      </fieldset>

      <button type="submit" [disabled]="loginForm.invalid || loading" class="submitbtn">{{ loading ? 'Logging in...' : 'Login' }}</button>
      @if (errorMessage) { <div class="error">{{ errorMessage }}</div> }

    </div>
  </form>
</section>
