/* You can add global styles to this file, and also import other style files */
:root {
  --orange: #FF6600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-press), sans-serif, serif;
}

fieldset {
  border: none;
}


body {
  background-color: #f1f1f1;
}

form {
  background-color: white;
}

h2 {
    text-align: center;
}

button {
    font-size: 16px;
} 

form {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-top: 50px;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

fieldset {
    padding-top: 20px;
    border: 0;
}

input, select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

input:focus, select:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.submitbtn {
    background-color: #333;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.submitbtn:hover {
    background-color: var(--orange);
}
